body {
  margin: 0;
  background-color: #9fc5f8;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 7%;
  background-color: #073763;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
}

.fa-home{
  padding-top: 40%;
}


.logo{
  padding-top: 230%;
}

a:hover{
  color: lightblue;
}

.sebelah{
  margin-left: 7%;
  padding-left: 10px;
  padding-bottom: 20px;
  background-color: #2b78e4;
  
}

h1{
  display: inline-flex;
  padding-left: 10px;
  margin-bottom: 10px;
  color: white;
}

.sebelah .fa-user-circle-o{
  font-size: 40px;
  color: white;
}

.proteh{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 28%;
    width: 700px;
    height: 500px;
}

.atas{
   padding-top: 40px;
   height: 20%;
}

#foto{
    font-size: 100px;
    float: left;
    margin-left: 12%;
    margin-right: 20px;
}

table{
    margin-left: 8%;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 50px;
}

a button{
   margin-left: 80%;
   background-color: #f9cb9c;
   padding: 10px;
   text-decoration: none;
   color: black;
}

th, td{
    padding: 10px;
}

th{
	padding-right: 24px;
}