body {
  margin: 0;
  background-color: #9fc5f8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 7%;
  background-color: #073763;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
}

.fa-home{
  padding-top: 30%;
}

.fa-user-circle-o{
  padding-top: 250%;
}

a:hover{
  color: lightblue;
}

.sebelah{
  margin-left: 7%;
  padding-left: 10px;
  padding-bottom: 20px;
  background-color: #2b78e4;
  padding-left: 15px;
  margin-bottom: 70px;
  
}

h1{
  display: inline-flex;
  padding-left: 10px;
  margin-bottom: 10px;
  color: white;
}


/*isi tengah dan kanan*/
.main {
  float: left;
  width: 60%;
  height: 14cm;
  padding: 0 20px;
  margin-left: 10%; 
  margin-right: 3%;
  margin-bottom: 10%;
  background-color: #597eaa;
  color: #f1c232;
}

.main .atas12{
  font-size: 30px;

}

.fa-shopping-cart{
  padding-right: 20px;
  font-size: 40px;
  padding-top: 8px;
}

.main .isi2{
  background-color: #073763;
  color: #f1c232;
  width: 8cm;
  height: 30px;
  margin-left: 30%;
  text-align: center;
}

.main .isi{
  width: 8cm;
  margin-left: 30%;
}

.main .isi b{
  font-size: 20px;
}

.main .isi p{
  padding-left: 30px;
}

.right {
  background-color: #073763;
  float: left;
  width: 18%;
  color: #f1c232;
  text-align: center;
}

.isi{
  background-color: white;
  padding-top: 20px;
  padding-left: 15px;
  color: black;
}

.isi hr{
  margin-left: -15px;
}

.total{
  font-size: 15px;
  margin-left:-15px; 
}

.btn {
  background-color: #ff9900;
  border: none;
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
}

.btn1 {
  background-color: #073763;
  margin-top: 30px;
  margin-left: 35px;
  border: none;
  color: #f1c232;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
}