
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: #073763;
    height: 100%;
    position: fixed;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
  }