
body{
    background-color: #9fc5f8 ;
    font-family:'Roboto' ;
}
.setter{
    background-color:#073763 ;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 1px; 
    margin-top: 10%;
    padding-bottom: 5%; 
    margin-bottom: 10%;
    color: white;
    border-radius: 10px;
    
}
.setter h1{
    color: #f1c232;
    
}

.toSignUp{
    color: white;
}

.setter label:last-child{
    color: red;
}
button{
    padding: 12px;
    border-radius: 5px;
    background-color: #f9cb9c
}