body{
    background-color: #9fc5f8;
}

.signup {
    margin: auto;
    width: 600px;
    padding: 10px;
    border: 1px solid #333333;
    background: #073763;
}

input[type=text], input[type=password] {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
}

h1{
    color: #f1c232;
    text-align: center; 
}

.control-label, .tombol, .tombol1{
    color: white;
}

.tombol1{
    padding-left: 10px;
}

.btn{
    padding: 7px;
    margin-left: 39%;
    width: 90px;
    border: 1px solid black;
    color: black;
    background: #f9cb9c;
    cursor: pointer;
    border-radius: 4px;
}

a{
    color: white;
    margin-left: 36%;
}

a:hover{
    color: #f9cb9c;
}