body {
  margin: 0;
  background-color: #9fc5f8;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 7%;
  background-color: #073763;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
}

.fa-home{
  padding-top: 50%;
}


.fa-user-circle-o{
  padding-top: 500%;
}

a:hover{
  color: lightblue;
}

.sebelah{
  margin-left: 7%;
  padding-left: 10px;
  padding-bottom: 20px;
  background-color: #2b78e4;
  
}

h1{
  display: inline-flex;
  padding-left: 10px;
  margin-bottom: 10px;
  color: white;
}

#liq{
  margin-left: 12%;
  margin-top: 4%;
}

.qwe{
  display: flex;
}

.satu11{
  margin-left: 15%;
  margin-top: 2%;
}

.dua22{
  margin-left: 6%;
  margin-top: 2%;
}

.satu, .dua, .tiga,.satu1, .dua1, .tiga1 {
    width: 100%;
    margin: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
}

.satu {
  background: #fdb0c0;
  color: #a64d79;
}

.satu1{
  background: #ffe599;
  color: #7f6000;
}

.fa-trophy{
  font-size: 100px;
}

.dua, .tiga, .dua1{
  background: white;
  color: #009e0f;
}

 .tiga1, .dua1 .fa-check-square{
  background: white;
  color: black;
 }

.dua i, .dua1 i{
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
}

.tiga, .tiga1 i{
  font-size: 30px;
}

.tiga, .tiga1 b{
  font-size: 23px;
}

.btn{
    padding: 7px;
    margin-left: 39%;
    width: 105px;
    border: 1px solid black;
    color: white;
    background: #2b78e4;
    cursor: pointer;
    border-radius: 4px;
}